services:
    db:
        deploy:
            restart_policy:
                condition: unless-stopped
                delay: 5s
                window: 20s
        image: postgres:16-alpine
        environment:
            POSTGRES_USER: morpheus
            POSTGRES_DB: morpheus
            POSTGRES_HOST_AUTH_METHOD: "trust"
        command: ["postgres", "-c", "logging_collector=on", "-c", "log_directory=/var/log/", "-c", "log_filename=postgresql.log", "-c", "log_file_mode=0644", "-c", "log_rotation_size=200MB"]
        volumes:
            - ./logs:/var/log:Z
            - postgres_data:/var/lib/postgresql/data/
            - ./database/backup/backup.sql:/docker-entrypoint-initdb.d/backup.sql
        networks:
            - db

    bot:
        deploy:
            restart_policy:
                condition: unless-stopped
                delay: 5s
                window: 20s
        image: morpheus-bot
        build:
            context: .
            dockerfile: Dockerfile
            tags:
                - morpheus-bot
        environment:
            TZ: "Europe/Prague"
        env_file:
            - ./config/lavalink_secrets.env
        user: ${DEFAULT_UID}:${DEFAULT_GID}
        volumes:
            - .:/morpheus:Z
        depends_on:
            - db
            - lavalink
        networks:
            - lavalink
            - db

    lavalink:
        image: ghcr.io/lavalink-devs/lavalink:4
        container_name: lavalink
        deploy:
            restart_policy:
                condition: unless-stopped
                delay: 5s
                window: 20s
        volumes:
            - ./config/application.yml:/opt/Lavalink/application.yml
            # use chown on folder to fix permissions "chown 322:322 plugins/"
            - ./plugins/:/opt/Lavalink/plugins/
        env_file:
            - ./config/lavalink_secrets.env
        networks:
            - lavalink
        expose:
            - "2333"

networks:
    lavalink:
        name: lavalink
    db:
        name: db

volumes:
    postgres_data:
